[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
click    = "7.1.2"
requests = "2.26.0"
myst-parser = "*"

[dev-packages]
twine    = "*"
sphinx = "*"
pytest = "*"
requests-mock = "*"
m2r = "*"

[requires]
python_version = "3.9"
